
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BookShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Books <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add Book</a>
        </li>
        <li class="nav-item dropdown">
         <!-- <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Login</a>
          <div class="dropdown-menu" style="padding:50px;">
            <form class="form" id="formLogin">
              <input name="username" id="username" type="text" placeholder="Username">
              <input name="password" id="password" type="password" placeholder="Password"><br>

              <button type="button" id="btnLogin" class="btn">Login</button><br><br>
              <p>Don't have an account ? <a><span style="color: blue;">Sign Up</span></a></p>

            </form>
          </div>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shopping cart
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/shoppingCart">Preview</a>
            <a class="dropdown-item" href="/shoppingCart/add">Add</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
