<div class="row">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
    </div>
  </div>
  <div class="col">
    <h4></h4>
    <ul class="list-group list">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let book of books; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBook(book, i)"
        a href="#myModal"
        data-toggle="modal"
      >
        {{ book.title }}
        <span class="badge badge-primary badge-pill">12</span>
      </li>
    </ul>
    <div class="text-center">
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBooks()">
        Remove All
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentBook">
  <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h3 class='col-12 modal-title text-center'>
                Book preview
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                  <span aria-hidden='true'>&times;</span>
                </button>
              </h3>
            </div>
            <div class="modal-body">
              <div>
                <label><strong>Book:</strong></label>
                {{ currentBook.title }}
              </div>
              <div>
                <label><strong>Description:</strong></label>
                {{ currentBook.description }}
              </div>
              <div>
                <label><strong>Premiere date:</strong></label>
                {{ currentBook.date }}
              </div>
            </div>
            <div class="modal-footer">
              <a class="badge badge-warning" href="/books/{{ currentBook.id }}/update">
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
